@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&family=Noto+Serif+JP:wght@300;700&display=swap");

:root,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;
  @media (max-width: 767px) {
    font-size: 95%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}
